body{
    background: no-repeat url("../images/kirby.jpg");
}
h1{
    border: 1px solid black;
}


h1,h2{
   color: blueviolet;
    text-align: center;
}
p{
color:deepskyblue;
    text-align: center;
}
bob{
    text-align: center;
}
{

}