main{
	margin:0 auto;  /* permet de centrer à 60% de la page*/
	width: 60%;
}
h1,h2{
	text-align:center;
}
nav{
	float:left;
}

#section1{
	float:left;
	width:38%;
	padding-left:30px;
}

#section2{
	float:right;
	padding-right:125px;
}
footer{
text-align:left;
	float:left;
	padding-right:700px;
}
